.box
{
	position: relative;
	text-align: center;	
    /* center the div */
    right: 0;
    left: 0;
    margin-right: auto;
    margin-left: auto;
    /* give it dimensions */
    min-height: 10em;
    width: 40%;	
    /* just for example presentation */
    top: 10em;
	border-style: solid;    
}

#colorBox
{
	position: float center;	
	display:block; 
	margin-bottom:1px;
	top: 5em;
	height: 40%;
	width: 30%
}

.slidersBox
{    
	position: relative;
	  display: block;
	margin-left: auto;
	margin-right: auto;
	float:left; 
	top: 7em;
	display:block; 
	width: 99%;		
	/*border: solid black;*/
}


#outerBox
{
	position: absolute;
	/*background-color: black;
	opacity: 0.5;*/	
    width: 70%;
	height: 80%;    
    top: 5em;	
	z-index:-1;
}

.slider {	
	position: relative;
	display: block;
	margin-left: auto;
	margin-right: auto;
	float:left ; 	
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 15%; /* Full-width */
    height: 25px; /* Specified height */
    /*background: #d3d3d3; /* Grey background */
    outline: solid #C4C4C4 1px; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
	/*margin: 0em 0em 0em 15em;*/
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */    
	background: black; 
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    /*background: #4CAF50; /* Green background */
    cursor: pointer; /* Cursor on hover */
}

button
{
		position: relative;
		top: 9em;
		right: 0;		
		margin-right: auto;
		margin-left: auto;		
}
